{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container"> 
    <h1>Upload a proof of identity and a proof of residence</h1>
    <p>A proof of identity can be your passport, national ID or driving license.</p>
    <p>A proof of residence can be any recent utility bill in your name.</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a> -->
    <!-- <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a> -->
    <form method="post" style="text-align: justify;"  enctype="multipart/form-data">
    {% csrf_token %}
      <label for="id_document_id">Proof of identity:</label>
      <input type="file"  name="document_id" required="" id="id_document_id">
      <label for="id_document_utility">Proof of residence:</label>
      <input type="file" name="document_utility" required="" id="id_document_utility">
      <!-- <label for="id_email">Email:</label> -->
      <input type="email" placeholder="Enter your 2Chap email" name="email" style="color:black; height: 40px;" maxlength="254" id="id_email">
      
    <hr/>
    <button type="submit" class="btn btn-lg btn-primary" style="position: inherit"><span class="glyphicon glyphicon-download"></span> Upload</button>
  </form>
  </div>
</div> 
{% endblock %}
{% for document in documents %}
      <li><a href="{% static 'index.jpeg' %}">{{ document.document.url }}</a></li>
  {% endfor %}